{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Quantity of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    <br>
    <h class="opacity"> Instructions: Instead of symbol input the symbol of the stock of your choice. For example, Tesla's symbol is TSLA.</h>
{% endblock %}